

# Visual Studio cache directory
.vs/

# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
./Codescape/[Ll]ibrary/
./Codescape/[Tt]emp/
./Codescape/[Bb]uild/
./Codescape/[Bb]uilds/
./Codescape/[Oo]bj/
./Codescape/[Ll]ogs/
./Codescape/[Uu]ser[Ss]ettings/
./Codescape/[Uu]ser[Ss]ettings/

Codescape/Temp/

Codescape/Library/

Codescape/obj/
./Codescape/Assembly-CSharp.csproj
./Codescape/Assembly-CSharp.sln
./Codescape/Codescape.sln


Codescape/Packages/manifest.json
